#customers .card {
  margin-bottom: 1em;
}

#movies .card-title {
  font-weight: bold;
}
#movies .card {
  margin-bottom: 1em;
}

.list-group-flush .list-group-item:first-child {
  border-top-width: 1px;
}

/* big movie display */
.big-movie .col-md-8 {
  display: flex;
  flex-flow: column;
}
.big-movie .tags {
  margin-bottom: 0.5em;
}
.big-movie .badges {
  margin-bottom: 1em;
}
.big-movie .card-body {
  /*background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://image.tmdb.org/t/p/original/upUy2QhMZEmtypPW3PdieKLAHxh.jpg")
      center center/cover no-repeat #ccc;*/
  line-height: 1.7;
  font-size: 14pt;
}
.big-movie .card-body,
.figure-caption {
  color: rgb(255, 255, 255);
  text-shadow: rgba(0, 0, 0, 0.8) 1.3px 1.5px;
}
.big-movie .card-title {
  font-size: 16pt;
}
.big-movie figure {
  width: 100px;
  margin-right: 1em;
}
.big-movie .movie-description {
  margin-bottom: 1.5rem;
}
@media (max-width: 768px) {
  /* make the movie less giant on mobile */
  .big-movie .card-img {
    max-width: 300px;
    margin: 0 auto;
    display: block;
  }
}
