#customers .card {
  margin-bottom: 1em;
}

#movies .card-title {
  font-weight: bold;
}
#movies .card {
  margin-bottom: 1em;
}

.list-group-flush .list-group-item:first-child {
  border-top-width: 1px;
}
